<html>
<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapi.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <link rel = "stylesheet" type = "text/css" href ="./css/main.css"/>

</head>

<body style = "background-color:aquamarine;">

    <div class="myname"> Kwangeun Son </div>
    <div>
        <p class="comment">Sontfolio</p>
    </div>

    <div class="row">
        <button type="button" class="button">Resume</button>
    </div>



</body>

</html>
