*{
    font-family:'Do Hyeon',sans-serif;
}

.myname {
    text-align: center;
    margin-top:60%;
    color:white;
    font-size:8rem;
}

.comment{
    color:white;
    text-align: center;
    margin-top:10;
    margin-bottom:20%;
    font-size:2rem;
}

.row{
    text-align: center;
}

.button{
    color:aquamarine;
    font-size: 3rem;
    background-color: white;
    width:50%;
    height:7%;
    text-align: center;
    border-radius: 1rem;
    border:none;
    margin-top:50%;
}